# Multiple linear regression.

Unlike the simple linear regression model, the multiple linear regression model is defined as any linear regression model with at least two explanatory variables. But what do we do when we have several variables? This is what we will see in this chapter. And you will finally be able to measure all the power of linear regression despite its simplicity!


## Variables studied

First of all, we will load our dataset. This is a fake Dataset for the example.

In [1]:
import pandas as pd
df = pd.read_csv('./data/data_multi.csv')

In [2]:
df

         x_1       x_2           y
0   1.054452 -1.070753  -81.464433
1  -0.362741 -0.634322  -78.752795
2  -0.854096  0.313068    2.218414
3   1.326386  0.298238   52.234160
4  -0.461585 -1.315907 -159.639258
5   1.943621 -1.173123  -51.806001
6  -1.602058  0.625231   82.457071
7  -0.401781  0.177426  -10.956509
8  -0.977278  1.867558  184.086053
9   0.378163  0.154947   13.651390
10 -0.302303 -0.387327  -47.357790
11 -0.747455 -0.413619  -71.204074
12 -0.187184  0.045759  -15.059425
13  0.318728  0.920859  116.157625
14 -1.536244  0.465662  -12.005370
15  0.400157  1.764052  170.305651
16 -0.826439 -0.744755  -80.972620
17 -0.742165  0.864436   70.987642
18  0.706573  0.356366   87.311098
19  0.900826 -1.165150 -104.885690
20 -0.578850 -0.870797  -87.888333
21 -0.208299  0.576591   40.052386
22  0.681595 -1.034243  -43.240607
23  0.802456 -0.268003  -43.837573
24  0.777490 -1.252795  -83.352311
25 -1.544771 -1.000215  -95.253147
26  0.969397 -1.270485 -111.165528
27  0.676433 -0.635846  -38.749853
28  1.785870  0.010500   28.782872
29  1.543015 -0.739563  -30.140956
..       ...       ...         ...
70  1.480515  1.922942  248.973825
71  0.316943  1.188030  132.130618
72 -2.223403 -0.643618 -141.298982
73  1.713343 -0.068242   31.761874
74  0.302472  0.066517   -2.684307
75  0.121675  0.761038   76.031909
76 -1.420018 -1.048553 -171.027947
77  0.439392 -1.491258 -118.641383
78 -0.179925  1.178780   99.200909
79 -0.684810  0.402342  -43.403402
80 -1.099401  0.376426  -31.574759
81 -0.151357  0.950088  106.628510
82 -0.437820 -1.147469  -61.235202
83  0.051945 -0.907298 -120.444231
84 -1.093062  0.396007    9.081810
85  0.407462  0.672295   18.485981
86  0.539249 -0.769916  -52.643638
87  1.910065 -0.861226  -48.810278
88  0.428332 -0.028182   16.768090
89  0.653619 -2.552990 -199.180705
90  0.944479  2.383145  315.513469
91  0.031831 -0.674333  -48.219859
92  1.929532 -0.498032    5.147029
93 -1.454366  2.269755  199.436860
94  0.462782 -1.630198 -130.813139
95  0.823504  0.771791   86.316340
96  0.976639  0.208275   83.136943
97 -1.347759  1.883151  157.404615
98  0.052165 -1.104383 -136.511136
99 -1.726283 -0.813146 -143.452015

[100 rows x 3 columns]

In [3]:
df.shape

(100, 3)

As you can see we now have 100 rows, 2 features and 1 target.

**Exercise :** Create the `X` and `y` variables and define which column will be the target and which column will be the feature. 
They must be of type `numpy.ndarray`. Our variable `X` has two dimensions this time.

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
y= np.array(df.y)
X = np.array(df.x_1, df.x_2)

### Relationship between variables

To represent a dataset that has two features, we can use 3D visualization.

**Exercise :** Use a 3D matplotlib (or other) graph to view the dataset.

If you change the camera angle, you should come across something that looks like this: 
<img src="./assets/3dplot.png" />

This appears to be a positive linear correlation. What do you say?  


If our dataset has more than two dimensions, then we won't be able to display it in 3D. Unfortunately for us, the human being can only perceive 3 dimensions. In this case, we will have no other choice than to display one scatter plot per variable.

And it is there that we realize that the linear regression may be very simple, as soon as we go beyond 3 dimensions, the human being will hardly be able to visualize all the data while the machines are doing very well.

**Exercise :** Create a scatter plot for each variable with respect to the target. You may use  `plt.tight_layout()` after plotting if the graph is too cramped.

**Exercise :** Show correlation coefficients.

### Split the dataset

You now know the process!

**Exercise :** Import `train_test_split` from `sklearn` and split the dataset and create the variables `X_train`, `X_test`, `y_train`, `y_test`.

##  Load and fit the model (with Sklearn)

How to use `sklearn` now with multiple features ? Well, it's simple, you don't change anything. `sklearn` takes care of everything for you.

1. Import `LinearRegression` from `sklearn`
2. Create a `regressor` variable and instantiate your `LinearRegression` class.
3. Train your model with `X_train` and `y_train`.
4. Display the score of your model with `X_train` and `y_train`.
5. Use the predict method of your model on your test dataset (`X_test`).
6. Display the score of your model with `X_test` and `y_test`.

And voilà !

## From Scratch 
You will see that with matrices, it doesn't change much in the way of proceeding. Matrix writing, moreover, remains the same as simple regression.

### Transform to matrix

$$
\\ Y = X \cdot \theta \\
$$
The $Y$ vector is the same too
$$ Y =
\begin{bmatrix}
y^{(1)}\\
y^{(2)}\\
y^{(3)}\\
... \\
y^{(m)}\\
\end{bmatrix}
$$

The $X$ matrix will have as many dimensions as there are features +1  (n+1)

$$ X =
\begin{bmatrix}
x^{(1)}_1, x^{(1)}_2, ..., x^{(m)}_{n}, 1\\
x^{(2)}_1, x^{(2)}_2, ..., x^{(m)}_{n}, 1\\
x^{(3)}_1, x^{(3)}_2, ..., x^{(m)}_{n}, 1\\
x^{(m)}_1,x^{(m)}_2, ..., x^{(m)}_{n}, 1\\
\end{bmatrix}
$$

The theta vector will have as many lines as there are parameters +1 (for the constant). 
$$ \theta =
\begin{bmatrix}
a\\
b\\
c\\
... \\
\end{bmatrix}
$$

For our case with our dataset, we can write it like this:

$$
\begin{bmatrix}
y^{(1)}\\
y^{(2)}\\
y^{(3)}\\
... \\
y^{(m)}\\
\end{bmatrix}
=
\begin{bmatrix}
x^{(1)}_1, x^{(1)}_2, 1\\
x^{(2)}_1, x^{(2)}_2, 1\\
x^{(3)}_1, x^{(3)}_2, 1\\
x^{(m)}_1,x^{(m)}_2,  1\\
\end{bmatrix}
\cdot
\begin{bmatrix}
a\\
b\\
c\\
\end{bmatrix}
$$

**Exercise :** Create a variable `X` which contains a matrix of shape `(100,3)` with two column's filled with values of our dataframe and then another one with 1's.

**Exercise :** Check that your matrix is of shape `(100,3)`.

**Exercise :** Create the theta vector with three random values. Your vector must be of shape 
`(3,1)`.

## Create and fit the model
### Define your model

**Exercise :** Create a `model` function that receives as parameter `X` and `theta`. The function must return the computed predictions `y_pred`. This is exactly the same model as last time.

### Cost function

Well we have the model, the $\theta$ vector, the $X$ matrix. What are we missing? The cost function of course!
And you know what? This too is exactly the same MSE function from last time. 

$$MSE(\theta) = \frac {1}{2m}  \sum (X \cdot \theta - Y)^2$$

**Exercise :** Create a MSE function that receives as parameters `X`, `y` and `theta` using the example above.

### Gradient descent
It's time to find the minimum of our function. Well again, nothing changes compared to the last time. 

$$ \frac {\partial MSE(\theta) }{\partial \theta}  = \frac {1}{m} X^T \cdot (X \cdot \theta - Y)$$

**Exercise :** Create a `grad` function that receives as parameter `X`, `y`, `theta`.

**Exercise :**

1. Create a `gradient_descent` function that receives as parameter `X`, `y`, `theta`, `learning_rate`, `n_iterations`.
2. In the function, create a variable `cost_history` with a matrix filled with 0 and which has a length of `n_iterations`. We will use it to display the histogram of the model learning process.
3. Create a loop that iterates up to `n_iterations`.
4. In the loop, update `theta` with the formula of the gradient descent (the example above).
5. In the loop, update `cost_history[i]` with the values of `MSE(X,y,theta)`.
6. return `theta` and `cost_history`.

In [4]:
def gradient_descent(X, y, theta, learning_rate, n_iterations):
    cost_history = np.zeros(n_iterations)
    for i in range(n_iterations):
        print(i)
        theta = theta - learning_rate * grad(X, y, theta)
        cost_history[i] = MSE(X,y,theta) # values of MSE
        
         #cost_history.append(computeCost(X, y, theta))
    return theta, cost_history

### Train your model

**Exercise :** Create variables `n_iterations` and `learning_rate`.

In [5]:
n_iterations = 1000
learning_rate = 0.01 #alpha
y=y_target

NameError: name 'y_target' is not defined

**Exercise:** Create variables `theta_final`, `cost_history` and call `gradient_descent()`.

In [ ]:
theta_final, cost_history = gradient_descent(X, y, theta, learning_rate, n_iterations)

**Exercise :** 
Create a `predictions` variable that contains `model(X, theta_final)`.

In [ ]:
predictions=model(X, theta_final)

**Exercise :** Plot your predictions in 3D and the true values of the dataset.

**Exercise :** Plot `cost_history`.

### Evaluation

In [ ]:
def coef_determination(y, pred):
    u = ((y - pred)**2).sum()
    v = ((y - y.mean())**2).sum()
    return 1 - u/v

In [ ]:
coef_determination(y, predictions)

y    0.93205
dtype: float64

### Congratulations !

You are now able to create a multiple variable regression model from scratch, well, from the matrix!

<img src="https://media.giphy.com/media/W9lzJDwciz6bS/giphy.gif">